@import '../../../../styles/config.scss';

.results {
  @include segment;

  &__container {
    @include container;
  }

  &__header {
    @include h1;

    // margin-bottom: 0;
  }

  &__text {
    @include reset-paragraph;

    margin-bottom: $gutter * 1;
  }

  &__input {
    @include reset-input;

    margin: 0 0 $gutter * 2;
    padding: 10px;

    width: 100%;

    border: 1px solid #ccc;
  }
}

.group {
  margin-bottom: $gutter * 2;
  padding-bottom: $gutter * 2;

  border-bottom: 1px solid #eee;

  &:last-child {
    margin: 0;
    padding: 0;

    border-bottom-width: 0;
  }

  &__heading {
    @include h2;
  }
}

.item {
  padding: $gutter;

  &:nth-child(2n) {
    background: #fafafa;
  }

  &__link {
    @include reset-anchor;
    @include copy;
    font-weight: 700;
  }

  &__text {
    @include reset-paragraph;
    @include copy;

    margin-bottom: 0;
  }
}
